.hero-section {
    position: relative;
}

.hero-section-description {
    grid-column: col-start 1 / span 4;
    z-index: 1;
    text-align: center;
}

.hero-section-description h3 {
    margin-bottom: 32px;
}

.hero-section-image {
    display: none;
    z-index: 1;
}

@media (min-width: 1025px) {
    .hero-section-description {
        grid-column: col-start 2 / span 5;
        text-align: left;
    }
    .hero-section-image {
        display: grid;
        grid-column: col-start 8 / span 10;
        width: 339px;
        height: 417px;
    }
    .hero-section .section-background {
        height: 80%;
        width: 100%;
    }
}
