.input {
    display: flex;
    flex-direction: column;
}

.input input {
    border-radius: 6px;
    padding: 10px 16px;
    background-color: white;
}

.input label {
    margin-bottom: 2px;
}

.input span {
    margin-top: 4px;
}

.input-primary input {
    border: 1px solid var(--primary-green);
}

.input-secondary input {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.input-secondary label {
    color: white;
}

.input input.focused{
    border: 1px solid var(--primary-yellow);
}

.input input.error {
    border: 1px solid var(--primary-red);
}

@media (min-width: 1025px) {
    .input label {
        margin-bottom: 6px;
    }

    .input span {
        margin-top: 6px;
    }
}
