.text-white {
    color: white;
}

.text-green {
    color: var(--primary-green);
}

.text-yellow {
    color: var(--primary-yellow);
}

.text-orange {
    color: var(--seconary-orange);
}

.text-light-gray {
    color: var(--seconary-light-gray);
}

.background-white {
    background-color: white;
}

.background-green {
    background-color: var(--primary-green);
}

.background-yellow {
    background-color: var(--primary-yellow);
}

.background-light-gray {
    background-color: var(--seconary-light-gray);
}

.grid-layout {
    display: grid;
    grid-template-columns: var(--grid);
    gap: 20px;
    padding: 16px;
}

img {
    border-radius: 16px;
}

@media (min-width: 1025px) {
    .grid-layout {
        padding: 80px 40px;
    }
}
