footer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px 16px 16px 16px;
}

footer img {
    margin-right: 64px;
    margin-bottom: 32px;
    width: 170px;
    height: 270px;
}

footer .doormat-navigation {
    margin-right: 32px;
    margin-bottom: 16px;
}

@media (min-width: 1025px) {
    footer {
        padding: 56px 40px 32px 40px;
        justify-content: center;
    }

    footer img {
        margin-right: 64px;
        margin-bottom: 32px;
        width: 230px;
        height: 330px;
    }
}
