.testimonials-section {
    position: relative;
}

.testimonials-container {
    grid-column: col-start 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.testimonials-section .card-profile {
    margin: 16px;
}

@media (min-width: 1025px) {
    .testimonials-container {
        grid-column: col-start 2 / span 10;
    }
}
