ul.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
}

ul.nav-list li {
    margin-right: 32px;
}

ul.nav-list li:last-of-type {
    margin-right: 0;
}