.nav-mob {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-hamburger-menu--opened {
    margin-top: 15px;
}
ul.nav-list-mob {
    background: white;
    flex-direction: column;
    display: flex;
    width: 0;
    height: 0;
    text-align: end;
}

ul.nav-list-mob--opened {
    transition: width 400ms ease-in-out;
    width: 80%;
    height: 150px;
    margin-top: 8px;
}

ul.nav-list-mob li {
}

ul.nav-list-mob li:last-of-type {
}

@media (min-width: 768px) {
    .nav-mob {
        display: none;
    }
}
